@import '~tachyons-sass/tachyons.scss';

.CardsResponsiveLayout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}